@model Nop.Plugin.Widgets.Product_Msg.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<!-- *** 2019-08-09-task2 *** -->

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsProduct_Msg" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.Product_Msg.Picture1")
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text1_OverrideForStore" asp-input="Text1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text1" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text1" />
                        <span asp-validation-for="Text1"></span>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</form>